#lottery-detail-dialog-title, #lottery-detail-dialog button {
  background: #AC1049;
  color: white; }

#lottery-detail-dialog section {
  padding-bottom: 0; }

.lottery-detail {
  margin-top: 24px; }

.footer-lottery-detail {
  justify-content: center; }
