#lottery-detail-dialog-title, #lottery-detail-dialog button {
  background: #AC1049;
  color: white;
}

#lottery-detail-dialog section {
  padding-bottom: 0;
}

.lottery-detail {
  margin-top: 24px;
}

.footer-lottery-detail {
  justify-content: center
}

@media (max-width: 992px) {
  #lottery-detail-dialog { 
    max-width:100%;
    width: 90% !important;
  }  
}

@media (max-width: 767px) {
  #lottery-detail-dialog { 
    max-width: 100%; 
    width: 95% !important;
  }  
}