.ht-play-section {
  margin-bottom: 0;  
}

.ht-play .ht-play-content {
  margin-top: 24px;
}

.ht-play #simple-action-dialog-title{
  background: #AC1049;
  color: white;
}

.ht-play-content p {
  padding-bottom: 10px;
}

#simple-action-dialog section {
  padding-bottom: 0;
}

#simple-action-dialog button {
  background: #AC1049;
  color: white;
}

