body {
  font-family: 'Roboto', sans-serif !important;
}

.lt-v-pad-8 {
  padding: 8px 0px;
}

.border-below {
  border-bottom: 1px solid #ddd;
}

.ld-pad-8 {
  padding: 8px;
}

@media (max-width: 767px) {
  .custom-dialog {
    width: 90% !important;
  }
  .custom-dialog input {
    width: 100% !important;
  }
}