.lottery-buttons button {
  background: #AC1049;
  color: white;
  margin-right: 8px;
}

label.md-selection-control-label.md-pointer--hover.md-text {
  color: white;
}

.md-switch-container { 
  float: right;
}