.open-modal {
  background: #AC1049;
  margin: 0 !important;
}

#simple-new-raffle-title, #simple-new-raffle button {
  background: #AC1049;
  color: white;
}

#simple-new-raffle section {
  color: black;
}